.boxInput{
    border-radius: 20px;
}

.buttonTeste{
    background-color: rgba(228, 220, 220, 0.925);
    color: black;
    border-radius: 30px;
    width: 100px;
    height: 30px;
}

.navBar{
    display: flex;
    justify-content: space-around;
    background-color: rgba(243, 237, 237, 0.329);
    height: 50px;
    align-items: center;
}
